section button a.button-add {
    display: block;
    width:200px;
    height: 40px;
    color: #FFF;
    background-color: #06f;
    border: 1px solid #03f;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 20px;
    font-size: 200;
    font-family: Pacifico;
}